
.chat-list-side{
    width: 36%;
    border-right: 3px solid black;
    height: 50px;
    display: flex;
    align-items: center;
}

.burger-menu {
    padding-bottom: 5px;
    margin-left: 10%;
    font-size: 20px;
    font-weight: bold;
}

.title {
    margin-left: 14%;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}